<footer>
    <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6 text-right" style="margin:0">
            <p class="vcenter">Copyright &copy;</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 text-left">
            <p class="vcenter">Designed by <strong>Black@Tiger</strong></p>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 text-sm-center">
                    <a class="social-link">
                        <i class="fas fa-phone-alt"></i>
                        <span class="extended">+998(94)-170-11-70</span>
                    </a>
                    <a class="social-link">
                        <i class="fab fa-instagram"></i>
                        <span class="extended">@tukhtamurod_isroilov</span>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-sm-center">
                    <a class="social-link">
                        <i class="fab fa-telegram"></i>
                        <span class="extended">@Black_Tiger07</span>
                    </a>
                    <a class="social-link" href="https://github.com/Pydeveloper07" target="blank">
                        <i class="fab fa-github"></i>
                        <span class="extended">Pydeveloper07</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>