<div class="advanced-search mb-4">
    <div class="search-title">
        <h1>Enjoy Advanced Search Service</h1>
    </div>
    <form action="{% url 'search' %}" method="POST" class="row">
        {% csrf_token %}
        <div class="col-md-2 col-lg-2 col-sm-4 mb-3">
            <input class="form-control" type="text" name="brand" placeholder="Brand (ex. Apple)">
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4">
            <select name="price" class="form-control">
                <option value="" disabled selected>Price(Max)</option>
                <option value="150">$150</option>
                <option value="300">$300</option>
                <option value="450">$450</option>
                <option value="600">$600</option>
                <option value="750">$750</option>
                <option value="900">$900+</option>
            </select>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4">
            <input class="form-control" type="number" name="weight" placeholder="Weight (g)" min="0" step="10">
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4">
            <select name="ram" class="form-control">
                <option value="" disabled selected>RAM</option>
                <option value="1">1GB</option>
                <option value="2">2GB</option>
                <option value="4">4GB</option>
                <option value="6">6GB</option>
                <option value="8">8GB</option>
                <option value="10">10GB+</option>
            </select>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4">
            <select name="storage" class="form-control">
                <option value="" disabled selected>Storage</option>
                <option value="8">8GB</option>
                <option value="16">16GB</option>
                <option value="32">32GB</option>
                <option value="64">64GB</option>
                <option value="128">128GB</option>
                <option value="256">256GB</option>
                <option value="512">512GB+</option>
            </select>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4">
            <select name="cpu" class="form-control">
                <option value="" disabled selected>CPU</option>
                <option value="single">Single Core</option>
                <option value="dual">Dual Core</option>
                <option value="quad">Quad Core</option>
                <option value="hexa">Hexa Core</option>
                <option value="octa">Octa Core</option>
            </select>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-4 mb-3">
            <select name="selfie_camera" class="form-control">
                <option value="" disabled selected>Selfie Camera</option>
                <option value="single">Single</option>
                <option value="dual">Dual</option>
                <option value="triple">Triple+</option>
            </select>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-4">
            <select name="main_camera" class="form-control">
                <option value="" disabled selected>Main Camera</option>
                <option value="single">Single</option>
                <option value="dual">Dual</option>
                <option value="triple">Triple+</option>
            </select>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-4">
            <select name="battery" class="form-control">
                <option value="" disabled selected>Battery Capacity (mAh)</option>
                <option value="1000">1000-2000</option>
                <option value="2000">2000-3000</option>
                <option value="3000">3000-4000</option>
                <option value="4000">4000+</option>
            </select>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-4">
            <input type="submit" value="Search" class="form-control btn btn-danger">
        </div>
    </form>
</div>