{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="row" style="margin:0; padding:0;">
    <div class="side-menu col-md-2 col-lg-2">
        <div class="caption">
            <h5>Choose your company</h5>
        </div>
        <ul class="menu">
            {% if brands %}
            {% for brand in brands %}
            <li class="menu-item">
                <a href="#{{brand.name}}" class="menu-link"><i class="far fa-star"></i>{{brand.name}}<span
                        class="num-indicator">{{brand.phones.count}}</span></a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="content col-md-8 col-lg-8">
        <div class="container">
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home"></i><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Featured Listings</li>
                </ol>
            </nav>

            <!-- Search Field -->
            {% include 'partials/_search.html' %}

            {% if brands %}
            {% for brand in brands %}
            <section class="section container mb-5" id="{{brand.name}}">
                <div class="section-header row">
                    <div class="col-md-1 col-lg-1"></div>
                    <h1 class="col-md-4 col-lg-4">{{brand.name}}</h1>
                    <div class="col-md-7 col-lg-7"></div>
                </div>
                <div class="row mt-3">
                    {% if brand.phones.all %}
                    {% for phone in brand.phones.all %}
                    <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                        <div class="card">
                            <img src="{{phone.photo_main.url}}" alt="..."
                                class="card-image-top">
                            <hr class="m-0">
                            <span class="badge badge-danger">${{phone.price|intcomma}}</span>
                            <div class="card-body">
                                <div class="stats">
                                    <span class="far fa-heart text-danger like" aria-hidden="true" data-phoneId="{{phone.id}}"></span>
                                    <span class="numOfLikes">{{phone.likes.all.count}}</span>
                                    <i class="fa fa-eye text-primary" id="review"></i>{{phone.reviews.all.count}} <i class="far fa-comment" id="comment"></i>{{phone.comments.count}}
                                </div>
                                <hr class="mt-0">
                                <h1 class="card-title">{{phone.name}}</h1>
                                <hr>
                                <div class="row text-left">
                                    <div class="col-md-6">
                                        <dl>
                                            <dt>Announced:</dt>
                                            <dd>{{phone.announced_date}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-6">
                                        <dl>
                                            <dt>Resolution:</dt>
                                            <dd>{{phone.display_resolution}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-6">
                                        <dl>
                                            <dt>Weight:</dt>
                                            <dd>{{phone.weight}} g</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-6">
                                        <dl>
                                            <dt>OS:</dt>
                                            <dd>{{phone.os}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-12 more-info">
                                        <a href="{% url 'listing' listing_id=phone.id %}">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </section>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="right-menu col-md-2 col-lg-2">
        {% if wk_phone %}
        <div class="wk-phone-container">
            <div class="wk-phone-title">
                <p>Phone of the week</p>
            </div>
            <div class="card">
                <img src="{{wk_phone.photo_main.url}}" alt="..." class="card-image-top">
                <div class="card-body">
                    <h6 class="card-title">{{wk_phone.name}}</h6>
                    <p class="sub-card-title">
                        {{wk_phone.likes.all.count}} <i class="fas fa-heart"></i> <strong>&</strong> {{wk_phone.reviews.all.count}} <i class="far fa-eye"></i>
                    </p>
                    <a href="{% url 'listing' listing_id=wk_phone.id %}" class="explore">Explore</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).on('click', '.like', function(){
        var numOfLikeSpan = $(this).siblings('.numOfLikes');
        var phoneId = $(this).attr('data-phoneId');
        var element = $(this);
        $.ajax({
            type: "POST",
            url: "{% url 'like' %}",
            data: {
                'id': phoneId,
                'csrfmiddlewaretoken': "{{csrf_token}}",
            },
            dataType: 'json',
            success: function(response){
                if (response.login_needed){
                    $('#loginButton').click();
                }
                else{
                    numOfLikeSpan.text(response.numOfLikes.toString());
                    if (response.like){
                        element.attr('data-prefix', 'fas');
                    }
                    else{
                        element.attr('data-prefix', 'far');
                    }
                }
            },
        });
    });
</script>
{% endblock %}