@media only screen and (max-width:580px){
	#listing .thumb{
		width:49%;
	}
}
@media only screen and (max-width:600px){
	#upcoming-phones .card img {
		height: 55% !important;
	}
	.side-menu{
		z-index:999;
		display:none;
	}
	.content{
		margin-left:0 !important;
		min-width:100% !important;
	}
	.card img {
		height: 40% !important;
	}
	.card-body .row div{
		width:50%;
	}
	.card-body dt,
	.card-body dd {
		font-size: 0.67em !important;
	}
	#upcoming-phones .card-body dt,
	#upcoming-phones .card-body dd {
		font-size: 0.9em !important;
	}
	.card .more-info{
		font-size: 0.8em;
	}
	.contact-header h1{
		font-size:1.3em !important;
		padding: 5px;
	}
}
@media only screen and (max-width:768px){
	.section-header div{
		display:none;
	}
	.card .badge{
		width:auto !important;
	}
	.right-menu{
		display:none;
	}
	.content{
		margin-left:25%;
	}
	.contact-header h1{
		font-size:2em;
	}
	.content .section-header h1{
		font-size:1.5em;
		transform: rotateZ(0deg);
	}
	.content .container {
		margin:auto;
	}
	footer {
		font-size: 0.8em !important;
	}
}
@media only screen and (min-width:600px) and (max-width:768px){
	.card img {
		height: 35% !important;
	}
	.card .badge {
		font-size: 0.7em !important;
	}
	.card-body dt,
	.card-body dd {
		font-size: 0.67em !important;
	}
	.card-body .more-info a {
		font-size: 0.8em;
		padding: 10px;
	}
}
@media only screen and (min-width:769px) and (max-width:992px){
	#upcoming-phones .card img {
		height: 45% !important;
	}
	.card img {
		height: 40% !important;
	}
	.card .badge {
		font-size: 0.5em !important;
	}
	#upcoming-phones .card-body dt,
	#upcoming-phones .card-body dd {
		font-size: 0.9em !important;
	}
	.card-body dt,
	.card-body dd {
		font-size: 0.6em !important;
	}
	.card-body .more-info a {
		font-size: 0.8em;
		padding: 10px;
	}
	.side-menu{
		max-width: 20% !important;
	}
	.content{
		margin-left: 20%;
		max-width: 60% !important;
	}
	.right-menu{
		max-width:20% !important;
	}
	.content .section-header h1 {
		font-size: 1.5em;
		transform: rotateZ(0deg);
	}
	.right-menu .explore{
		font-size:0.7em;
	}
	.right-menu .wk-phone-title{
		font-size:1.5em;
	}
	footer{
		font-size: 0.4em !important;
	}
}
@media only screen and (min-width:992px) and (max-width:1200px){
	.card .badge {
		font-size: 0.7em !important;
		width: auto !important;
	}
	.card-body dt,
	.card-body dd {
		font-size: 0.65em !important;
	}
	.card img {
		height: 38% !important;
	}
	.content .section-header h1 {
		font-size: 1.5em;
		transform: rotateZ(-2deg);
	}
	.right-menu .explore {
		font-size: 0.8em;
	}
	footer {
		font-size: 0.7em !important;
	}
	.card-body .more-info a {
		font-size: 0.8em;
		padding: 10px;
		transform: translateX(-5%);
	}
	#upcoming-phones .card-body dt,
	#upcoming-phones .card-body dd {
		font-size: 0.8em !important;
	}
}